.sideBarWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  transition: 0.3s ease-in-out !important;
  overflow: hidden;
  margin-top: 0px !important;
}
.sideLinksWrapper {
  margin: 0 1rem;
}
.sideLinks {
  margin-bottom: 20px;
  width: 200px;
  height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 1.2rem;
  padding-left: 3rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-color);
}
.sideLinks.active {
  background: linear-gradient(180deg, #9270f9 0%, rgba(118, 66, 249, 0.5) 100%);

  color: white !important;
}
.sideLinks:hover {
  color: white !important;
}

.sideLinks.sideLinkLogOut {
  position: absolute;
  bottom: 0;
}

.linkText {
  padding-left: 40px;
}

@media screen and (max-width: 990px) {
  .sideBarWrapper {
    padding: 0px;
    margin: 2.5rem 0rem;
    height: 100vh;
    width: auto;
  }

  .sideLinks.sideLinkLogOut {
    position: relative;
    margin-top: auto;
  }

  .sideLinks {
    display: flex;
    width: auto;
    height: auto;
  }
  .linkText {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 320px) {
  .sideLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    padding: 1rem 0;
  }
  .sideLinksWrapper {
    margin-top: 2rem;
  }
  .linkText {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

@media screen and (max-width: 1600px) and (min-width: 990px) {
  .sideBarWrapper {
    padding: 0px;
    margin: 2.5rem 1.5rem;
    height: 100vh;

    width: auto;
  }

  .sideLinks.sideLinkLogOut {
    margin-top: auto;
  }

  .sideLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    padding: 1rem 0;
    width: auto;
    height: auto;
  }
  .linkText {
    display: flex;
    flex-direction: column;
    padding: 0;

    width: auto;
    height: auto;
  }
}
